@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');

.card {
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5em;
    margin: 10px 0 10px 0;
}